:root {
    --background: #ede5d8;
    --text: #2D1F1A;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: var(--background);
    min-height: 100vh;
}

.title {
    font-size: 10rem;
    padding-bottom: 10px;
    color: var(--text);
}

.title-description {
    font-size: 2rem;
    padding-left: 5px;
    color: var(--text);
}

/* other start */

.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.items-center {
    align-items: center;
}

.column {
    flex-direction: column;
}

/* other end */