:root {
    --background: #ede5d8;
    --text: #271c18;
    --hover: #a8672a;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: var(--background);
    min-height: 100vh;
}

.header {
    right: 0;
    top: 0;
}

.menu {
    list-style-type: none;
}

.menu-list {
    float: left;
}

.menu-link {
    display: block;
    padding: 20px 25px;
    color: var(--text);
    text-decoration: none;
    font-size: 2rem;
}

.menu-link:hover {
    color: var(--hover);
    border-bottom: 3px solid var(--hover);
}

.title {
    font-size: 10rem;
    padding-bottom: 10px;
    color: var(--text);
}

.title-description {
    font-size: 2rem;
    padding-left: 5px;
    color: var(--text);
}

/* other start */

.position-absolute {
    position: absolute;
}

.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.items-center {
    align-items: center;
}

.column {
    flex-direction: column;
}

/* other end */