:root {
    --background: hsl(30, 54%, 90%);
    --recipe-background: #fff;

    --prep-background: hsl(330, 100%, 98%);
    --prep-header: hsl(332, 51%, 32%);

    --headers: hsl(14, 45%, 36%);
    --lines: hsl(30, 18%, 87%);

    --text: hsl(30, 10%, 34%);
    --bolder-text: hsl(24, 5%, 18%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    font-family: "Outfit", sans-serif;
    background: var(--background);
    min-height: 100vh;
    font-size: 1.6rem;
    color: var(--text);
    padding-top: 120px;
}

ul {
    list-style-position: inside;
}

section {
    padding-bottom: 35px;
    margin-bottom: 35px;
    border-bottom: 1px solid var(--lines);
}

section:first-of-type {
    padding: 0;
    margin: 0;
    border: none;
}

section:last-of-type {
    border-bottom: none;
    margin-bottom: 0;
}

/*main start */

.content {
    background-color: var(--recipe-background);
    max-width: 735px;
    border-radius: 15px;
    padding: 40px;
    margin-bottom: 120px;
}

.food-img-container {
    width: 655px;
    height: 300px;
    margin-bottom: 40px;
}

.food-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.title {
    color: var(--bolder-text);
    margin-bottom: 20px;
    font-family: "Young Serif", serif;
    font-size: 4rem;
}

.description {
    margin-bottom: 35px;
}

.preparation-container {
    background-color: var(--prep-background);
    padding: 25px;
    border-radius: 15px;
    margin-bottom: 30px;
}

.preparation-title {
    font-size: 2.1rem;
    color: var(--prep-header);
    margin-bottom: 20px;
}

.preparation-item {
    margin-bottom: 20px;
    padding-left: 10px;
}

.preparation-item:last-of-type {
    margin-bottom: 0;
}

.preparation-item::marker {
    color: var(--prep-header);
    font-weight: 600;
}

.preparation-item span {
    padding-left: 10px;
}

.section-title {
    font-size: 2.8rem;
    font-family: "Young Serif", serif;
    color: var(--headers);
    margin-bottom: 30px;
}

.ingredients-list {
    padding-left: 10px;
}

.ingredient {
    margin-bottom: 15px;
}

.ingredient:last-of-type {
    margin-bottom: 0;
}

.ingredient::marker {
    color: var(--headers);
    font-weight: 600;
}

.ingredient span {
    padding-left: 10px;
}

.instructions-list {
    padding-left: 20px;
}

.instruction {
    padding-left: 20px;
    margin-bottom: 20px;
}

.instruction::marker {
    color: var(--headers);
    font-weight: 600;
}

.nutrition-description {
    margin-bottom: 10px;
}

.nutrition-table {
    width: 100%;
    border-collapse: collapse;
}

.nutrition-table tr {
    border-bottom: 1px solid var(--lines);
}

.nutrition-table td {
    padding: 15px 30px;
}

.total {
    color: var(--headers);
}

/* main end */

/* footer start */

.footer {
    position: relative;
    bottom: 10px;
}

.attribution {
    font-size: 1.1rem;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

/* footer end*/

/* other start */

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}

.text-center {
    text-align: center;
}

.normal {
    font-weight: 400;
}

.bold {
    font-weight: 600;
}

.bolder {
    font-weight: 700;
}

.absolute {
    position: absolute;
}

/* other end */

/* media start */

@media screen and (max-width: 375px) {
    body {
        padding: 0;
    }

    section {
        padding-left: 30px;
        padding-right: 30px;
    }

    section:first-of-type {
        padding-left: 30px;
        padding-right: 30px;
    }

    .content {
        margin-bottom: 0;
        padding: 0;
        max-width: 375px;
    }

    .food-img-container {
        width: 375px;
        height: 170px;
    }

    .food-img {
        border-radius: 0;
    }

    .title {
        font-size: 3.7rem;
        line-height: 3.5rem;
    }
    
    .minutes-margin {
        margin-left: 20px;
    }

    .ingredients-margin {
        margin-left: 20px;
    }

    .footer {
        bottom: 0;
    }
}

@media screen and (max-width: 320px) {
    body {
        padding: 0;
    }

    section {
        padding-left: 5px;
        padding-right: 5px;
    }

    section:first-of-type {
        padding-left: 5px;
        padding-right: 5px;
    }

    .content {
        margin-bottom: 0;
        padding: 0;
        max-width: 320px;
    }

    .food-img-container {
        width: 320px;
        height: 145px;
    }

    .food-img {
        border-radius: 0;
    }

    .title {
        font-size: 3.7rem;
        line-height: 3.5rem;
    }
    
    .minutes-margin {
        margin-left: 20px;
    }

    .ingredients-margin {
        margin-left: 20px;
    }

    .footer {
        bottom: 0;
    }
}

/* media end*/