:root {
    --background: hsl(0, 0%, 8%);
    --profile-background: hsl(0, 0%, 12%);
    --hover: hsl(75, 94%, 57%);
    --text: #fff;
    --buttons: hsl(0, 0%, 20%);


}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    font-family: "Inter", sans-serif;
    background: var(--background);
    min-height: 100vh;
    color: var(--text);
}

/* main start */

.card {
    background-color: var(--profile-background);
    padding: 40px;
    font-size: 1.4rem;
    border-radius: 15px;
}

.avatar-container {
    width: 90px;
    height: 90px;
    margin-bottom: 30px;
}

.avatar {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.name {
    font-size: 2.4rem;
    margin-bottom: 10px;
}

.address {
    color: var(--hover);
    margin-bottom: 25px;
}

.description {
    margin-bottom: 25px;
}

.social-media-link {
    background-color: var(--buttons);
    color: var(--text);
    text-decoration: none;
    display: block;
    width: 300px;
    margin-bottom: 15px;
    padding: 15px 0;
    border-radius: 10px;
}

.social-media-link:hover {
    background-color: var(--hover);
    color: var(--background);
}

.social-media-link:focus {
    background-color: var(--hover);
    color: var(--background);
}

/* main end*/

/* footer start */

.footer {
    bottom: 10px;
    font-size: 1.1rem;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

/* footer end*/

/* other start */

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}

.text-center {
    text-align: center;
}

.absolute {
    position: absolute;
}

.normal {
    font-weight: 400;
}

.bold {
    font-weight: 600;
}

.bolder {
    font-weight: 700;
}

/*other end */

/* media start */

@media screen and (max-width: 375px) {
    .card {
        font-size: 1.2rem;
        padding: 20px;
    }

    .social-media-link {
        width: 270px;
    }
}

@media screen and (max-width: 320px) {
    .card {
        padding: 15px;
    }

    .social-media-link {
        width: 250px;
    }
}

/* media end */