:root {
    --background: #fff;

    --team-builder: hsl(0, 78%, 62%);
    --supervisor: hsl(180, 62%, 55%);
    --karma: hsl(34, 97%, 64%);
    --calculator: hsl(212, 86%, 64%);

    --text: hsl(212, 6%, 44%);
    --titles: hsl(234, 12%, 34%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
    background: var(--background);
    min-height: 100vh;
    font-size: 1.5rem;
    color: var(--text);
}

h1, h2 {
    color: var(--titles);
}

/* main start */

.second-title {
    font-size: 3rem;
    margin-bottom: 15px;
}

.title-description {
    max-width: 510px;
    margin-bottom: 70px;
    color: var(--titles);
}

.grid-container {
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.card {
    max-width: 350px;
    max-height: 250px;
    padding: 40px 35px 50px 35px;
    border-radius: 5px;
    box-shadow: 0px 7px 15px var(--text);
    text-align: left;
    position: relative;
}

.card:before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 5px;
    border-radius: 10px 10px 0 0;
}

.card-title {
    margin-bottom: 15px;
}

.card-text {
    margin-bottom: 20px;
    font-size: 1.4rem;
}

.card-img-container {
    float: right;
}

.item1 {
    grid-column: 1 / span 1;
    grid-row: 1 / span 2;
    align-self: center;
}

.item2 {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
}

.item3 {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
}

.item4 {
    grid-column: 3 / span 1;
    grid-row: 1 / span 2;
    align-self: center;
}

.item1::before {
    background-color: var(--supervisor);
}

.item2::before {
    background-color: var(--team-builder);
}

.item3::before {
    background-color: var(--karma);
}

.item4::before {
    background-color: var(--calculator);
}

/* main end */

/* footer start */

.footer {
    bottom: 10px;
}

.attribution {
    font-size: 1.1rem;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

/* footer end */

/* other start */

.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.column {
    flex-direction: column;
}

.items-center {
    align-items: center;
}

.text-center {
    text-align: center;
}

.grid {
    display: grid;
}

.thin {
    font-weight: 200;
}

.normal {
    font-weight: 400;
}

.bold {
    font-weight: 600;
}

.absolute {
    position: absolute;
}

/* other end */

/* media start */

@media screen and (max-width: 425px) {
    .grid-container {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 375px) {
    body {
        font-size: 1.3rem;
    }

    .content {
        padding: 60px 30px;
    }

    .title {
        font-size: 2.5rem;
    }

    .second-title {
        font-size: 2.5rem;
    }

    .title-description {
        margin-bottom: 55px;
    }

    .footer {
        position: static;
        bottom: 0;
    }
}

/* media end */