:root {
    --background: hsl(47, 88%, 63%);
    --card-background: #fff;
    --big-text: hsl(0, 0%, 7%);
    --text: hsl(0, 0%, 42%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
}

/* body start */

body {
    font-family: "Figtree", sans-serif;
    background: var(--background);
    min-height: 100vh;
    font-size: 1.6rem;
}

/* card start */

.card {
    background-color: var(--card-background);
    padding: 25px 30px;
    border: 1px solid black;
    border-radius: 20px;
    max-width: 400px;
    box-shadow: 15px 15px black;
}

.img-container {
    margin-bottom: 25px;
}

.tag {
    background-color: var(--background);
    padding: 10px 15px;
    display: inline-block;
    border-radius: 5px;
    margin-bottom: 20px;
}

.tag-text {
    color: var(--big-text);
}

.publish-date {
    margin-bottom: 30px;
}

.card-title {
    margin-bottom: 30px;
}

.card-link {
    font-size: 2.4rem;
    color: var(--big-text);
    text-decoration: none;
}

.card-link:hover {
    cursor: pointer;
    color: var(--background);
}

.card-text {
    color: var(--text);
    margin-bottom: 45px;
}

.author-img-container {
    width: 35px;
    height: 35px;
    margin-right: 15px;
}

.author-img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

/* card end */

/* body end */

/* footer start */

.footer {
    bottom: 10px;
}

.attribution { 
    font-size: 1.5rem; 
}

.attribution a {
    color: hsl(228, 45%, 44%); 
}

/* footer end */

/* other start */

.absolute {
    position: absolute;
}

.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.column {
    flex-direction: column;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.items-center {
    align-items: center;
}

.normal {
    font-weight: 500;
}

.bold {
    font-weight: 800;
}

/* other end */

/* media start */

@media screen and (max-width: 375px) {
    body {
        font-size: 1.2rem;
    }

    .card {
        padding: 20px 15px;
        max-width: 320px;
    }

    .vector-img {
        width: 287px;
    }
}

@media screen and (max-width: 320px) {
    .card {
        padding: 15px 10px;
        max-width: 280px;
    }

    .vector-img {
        width: 257px;
    }
}

/* media end */