:root {
    --background: hsl(30, 38%, 92%);
    --card-background: #fff;

    --text: hsl(228, 12%, 48%);
    --title: hsl(212, 21%, 14%);

    --button: hsl(158, 36%, 37%);
    --button-hover: hsl(158, 42%, 18%);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: var(--background);
    min-height: 100vh;
    font-size: 1.4rem;
    color: var(--text);
}

/* main start */

.content {
    max-width: 600px;
    background-color: var(--card-background);
    border-radius: 15px;
}

.img-container {
    max-width: 300px;
}

.product-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 15px 0 0 15px;
}

.mobile-product-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: none;
}

.right-side-container {
    width: 50%;
    padding: 30px 25px;
}

.logo {
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-bottom: 25px;
}

.title {
    color: var(--title);
    font-size: 3.5rem;
    line-height: 1;
    margin-bottom: 30px;
}

.product-description {
    margin-bottom: 35px;
    max-width: 230px;
}

.price-container {
    margin-bottom: 25px;
}

.final-price {
    font-size: 3.2rem;
    color: var(--button);
    margin-right: 20px;
}

.price {
    text-decoration: line-through;
}

.add-to-card-btn {
    background-color: var(--button);
    font-family: "Montserrat", sans-serif;
    color: var(--card-background);
    padding: 15px 60px;
    border: none;
    border-radius: 10px;
    justify-content: space-evenly;
    cursor: pointer;
}

.add-to-card-btn:hover {
    background-color: var(--button-hover);
}

/* main end */

/* footer start */

.footer {
    bottom: 10px;
    color: black;
}

.attribution {
    font-size: 1.1rem;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

/* footer end*/

/* other start */

.flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}

.text-center {
    text-align: center;
}

.normal {
    font-weight: 500;
}

.bold {
    font-weight: 700;
}

.fraunces {
    font-family: "Fraunces", serif;
}

.absolute {
    position: absolute;
}

/* other end */

/* media start */

@media screen and (max-width: 425px) {
    body {
        padding: 30px 15px;
        font-size: 1.3rem;
    }
    .content {
        flex-direction: column;
        max-width: 345px;
    }

    .img-container {
        max-width: 345px;
        max-height: 240px;
        overflow: hidden;
        border-radius: 15px 15px 0 0;
    }

    .product-img {
        display: none;
    }

    .mobile-product-img {
        display: block;
        object-fit: cover;
        max-width: 100%;
        max-height: 240px;
    }

    .right-side-container {
        width: 100%;
    }

    .logo {
        margin-bottom: 15px;
    }

    .title {
        font-size: 3rem;
        margin-bottom: 20px;
    }

    .product-description {
        max-width: 271px;
        margin-bottom: 25px;
    }

    .price-container {
        margin-bottom: 20px;
    }

    .final-price {
        margin-right: 15px;
    }

    .add-to-card-btn {
        padding: 15px 90px;
    }
}

@media screen and (max-width: 320px) {
    .add-to-card-btn {
        padding: 15px 60px;
    }
}

/* media end */